//For Bulma usage:
    $primary: hsl(21, 82%, 51%);
    $dark: hsl(321, 25%, 16%);
    $body-background-color: hsl(260, 16%, 7%);
    $warning: hsl(10, 51%, 43%);
    $danger: hsl(1, 38%, 29%);
    @import "../node_modules/bulma/bulma.sass";
    
//For regular use:
.email:hover {
    fill: #db4437;
}
.github:hover {
    fill: #6cc644;
}
.has-bg-img { 
    background: url('../assets/1028191822a.jpg')center center; 
    background-size:cover;
}
.icon {
    fill:#ffffff;
}
.linkedin:hover {
    fill: #2867B2;
}
path {
     transition: fill .4s ease;
}